
body{
    background-image:url(images/dead2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* *{
    background-color: black;

} */
#deadpool{
    width: 200%
    height: 400%
}