button{
    background-color:red;
    cursor: pointer;
    font-size: 30px;
    color: antiquewhite
}
body{
    background-image:url(images/dead2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* *{
    background-color: black;

} */