
body{
    background-image:url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    word-spacing: 2px;
}
.container{
    height: 100%;
}
.dead{
float: left;
width:50%;
}
button{
    background-color: aliceblue;
    color: blueviolet;
    font-size: 30px;
    
    
}
#ansArray{
    /* border: 2px black solid; */
    height: 75px;
    width: 50%;
    margin:50px;
    /* background-color:  rgb(146, 16, 7); */
    position: relative;
    z-index: 1;
    font-size: 60px;

}
#dead{
    position: absolute;
    z-index: -2;
}
